* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

body {
  color: #333;
  font-family: "FiraSans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  background: #fff;
  margin: 1rem;
  display: flex;
  margin: 0 0 1rem 0;
  padding: 0.85rem;
  border-bottom: 1px solid #B4B4B4;
  align-items: center;
}

header * {
  flex: auto;
}

header img {
  min-height: 64px;
}

header h1 {
  font-weight: normal;
}

main {
  margin: 1rem;
}

.panel-text {
  margin-top: -23px;
  font-size: 14px;
  padding: 0.5rem;
}

.meter {
  display: flex;
  background: #3B3B3B;
  color: rgb(249, 249, 249);
}
.meter div {
  flex: 1;
  font-size: 0.9rem;
  padding: 4px;
  line-height: 1;
  text-align: center;
}

.slider {
  cursor: pointer;
  position: relative;
  top: -23px;
}

input[type="range"] {
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-moz-range-thumb {
width: 33%;
height: 18px;
background: rgba(48, 233, 63, 0.53);
border-radius: 0;
border: 4px solid #7af390;
  outline: none;
}
